# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/bindings
!/cmake
!/assets
!/data
!/docs
!/src
!/tests
!/typings
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!libnode.json
!resources.qrc
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!TODO.md
!BUILD.md
!NOTES.md
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
